In [1]:
class vehicle:
    def __init__(self,name,max_speed,mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

class bus(vehicle):
    pass
school_bus = bus("School volvo",180,12)
print("vehicle.name:",school_bus.name,"speed:",school_bus.max_speed,"mileage:",school_bus.mileage)

vehicle.name: School volvo speed: 180 mileage: 12

In [2]:
class student:
    pass
print(type(student))
print(student.__dict__.keys())
print(student.__module__)

<class 'type'>
dict_keys(['__module__', '__dict__', '__weakref__', '__doc__'])
__main__

In [3]:
class Student:
    student_id = 'V10'
    student_name = 'Jacqueline Barnett'
    def display():
        print(f'student id:{Student.student_id}\nStudent name:{Student.student_name}')
print("Original attributes their values of the student class")
Student.display()

Original attributes their values of the student class
student id:V10
Student name:Jacqueline Barnett

In [4]:
class Student:
    school = 'YMCA'
    address = '26 lohia marg civil lines'
student1 = Student()
student2 = Student()
student1.student_id = "V12"
student1.student_name = "Ernesto Mendez"
student2.student_id = "V12"
student2.marks_language = 85
student2.marks_science = 93
student2.marks_math = 95
students = [student1, student2]
for student in students:
    print('\n')
    for attr in student.__dict__:
        print(f'{attr} -> {getattr(student, attr)}')

student_id -> V12
student_name -> Ernesto Mendez


student_id -> V12
marks_language -> 85
marks_science -> 93
marks_math -> 95

In [5]:
class Book:
    def __init__(self,title,author,name,price):
        self.title = title
        self.author = author
        self.name = name
        self.price = price
import numpy as np

arr = np.Book(["Harry Potter","JK Rowling","Rishabh",1000])
x= arr.view()
print(arr)
print(x)

ModuleNotFoundError: No module named 'numpy'